@use './reset.scss';

/* Add your css here */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px; 

*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
    padding: 0.5rem;
}
.h-container{
    padding: 0.5rem;
    .row{
        .left{
            display: flex;
            align-items: center;
        }
        a{
            color: black;
        }
        .list-group{
            list-style-type: none;
            justify-content: space-around;
        }
        img{
            width: 2rem;
        }
    }
}

@media only screen and (min-width: $sm) {
    .col-6{
        .list-group{
            flex-direction: row;
        }
    }
}
//Story 2
.banner{
    background-image: url(../images/bg.jpg);
    background-clip: padding-box;
    background-size: cover;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    .account{
        display: flex;
        flex-direction: row;
        justify-content: end;
        a{
            color: white;
            border: 0.15rem solid #dddddd;
            padding: 0.2rem 0.7rem;
            margin: 0 0.2rem 0 0.2rem;
        }
    }
    .logo-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        .logo{
            width: 6rem;
            height: auto;
        }
    }
    .search-restaurant{
        display: flex;
        flex-direction: column;
        
        #search-btn{
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
            &:hover {
            color: #fff;
            background-color: #c82333;
            border-color: #bd2130;
            }
        }
        #place,#search-rest{
            border-radius: 0.15rem;
            padding: .25rem .5rem;
            height: 2rem;
            font-size: medium;
        }
    }
}
@media only screen and (min-width: $sm) {
    .banner{
        .search-restaurant{
            flex-direction: row;
            justify-content: center;
            #place{
                width: 8rem;
            }
            #search-rest{
                width: 20rem;
                margin: 0 0.3rem;
            }

        }
    }
}
//story 3

.middle{
    background-color: #e9ecef;
    padding: 0.5rem;
    .left{
        .zmland{
            display: none;
        }
        .collections{
            .cards{
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                gap: 1rem;
                .card{
                    display: grid;
                    grid-template-columns: 0.4fr 0.6fr;
                    .card-body{
                        padding: 0.5rem;
                        p{
                            margin: 0;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .all-colls{
                background: white;
                color: red;
                padding: 0.3rem;
                text-align: center;
            }
        }
    }
    .widget{
        .widget-content{
            background: white;
            display: flex;
            flex-direction: column;
            .input-group{
                .detect-btn{
                    color: #212529;
                    background-color: #ffffff;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    &:hover{
                        background-color: #f8f9f8;
                        border: 1px solid #ccd2d8;
                    }
                }
            }
            .order-btn{
                color: #fff;
                background-color: #28a745;
                border-color: #28a745;
                &:hover{
                    background-color: #229b3e;
                    border-color: #26a543;
                }
            }
            h5{
                color: #28a745;
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: $sm) {
    .middle{
        display: grid;
        grid-template-columns: 0.66fr 0.34fr;
        gap: 1rem;
        .left{
            .zmland{
                display: block;
                width: 100%;
            }
            .collections{
                .cards{
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                }
            }
        }
    }
}
//story 4
.categories{
    background-color: #e9ecef;
    padding: 0.5rem;
    .category-list{
        background: #fff;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        list-style-type: none;
        padding: 0;
        img{
            width: 100%;
        }
    }
}

@media only screen and (min-width: $sm) {
    .categories{
        .category-list{
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 1fr;
        }
    }
}
//story 5
.localities{
    background: #e9ecef;
    padding: 0.5rem;
    .lists{
        background: #fff;
        .locality-list{
            list-style-type: none;
            padding: 0 1rem;
            .places{
                color: grey;
            }
        }
    }
}
@media only screen and (min-width: $sm) {
    .localities{
        .lists{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

//footer
footer{
    background: black;
    color: #aaaaaa;
    padding: 0.5rem;
    .footer-top{
        display: flex;
        justify-content: space-between;
        .logo{
            width: 6rem;
            height: auto;
        }
        #place{
            border: 0.1rem solid #aaaaaa;
            padding: .25rem .5rem;
            height: 2rem;
            font-size: medium;
            width: 8rem;
            color: #aaaaaa;
            background: black;
            align-self: center;
        }
    }
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .footer-widget{
            ul{
                list-style-type: none;
                padding: 0.25rem;
            }
        }
    }
    .countries{
        .country-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            ul{
                list-style-type: none;
                padding: 0.25rem;
            }
        }
    }
    .general-links{
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0.25rem;
            li{
                padding: 0.5rem;
            }
        }
        .icons{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        i{
            padding: 1rem;
        }
    }
    .copyright{
        font-size: .6em;
        color: grey;
    }
}
@media only screen and (min-width: $sm) {
    footer{
        .footer-wrapper{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        .countries{
            .country-list{
                grid-template-columns: repeat(5, 1fr);
            }
        }
        .general-links{
            ul{
                flex-direction: row;
            }
            .icons{
                flex-direction: row;
            }
        }
    }
}

